*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: "Quicksand", sans-serif;
}

.cabecalho{
    background-color: #1B4436;
}

.cabecalho ul li{
    display: inline;
    text-align: center;
}

.cabecalho ul li a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.5%;
}

.cabecalho ul{
    text-align: center;
}

.fundo{
    position: relative;
}

.fundo .plantacao{
    width: 100%;
}

.fundo .logo{
    position: absolute;
    left: 48%;
    top: 18%;
}

.fundo .title{
    position: absolute;
    background-color: #1B4436;
    opacity: 0.8;
    top: 50%;
    left: 38%;
    width: 523px;
    height: 83px;
}

.fundo .title > h1{
    color: #FFFFFF;
    font-size: 48px;
    text-align: center;
    top: 50%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards .card{
    border: 1px #50AA5A solid;
    border-radius: 20px 20px 0 0;
    padding-right: 1%;
    width: 386px;
    height: 248px;
    margin-right: 100px;
    margin-top: 200px;
}

.card > h2{
    align-items: center;
}