*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-primaria: #1B4436;
}

header{
    font-family: "Quicksand", sans-serif;
}

.cabecalho{
    background-color: var(--cor-primaria);
    height: 50px;
}

.cabecalho ul li{
    display: inline;
    
}

.cabecalho ul li a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.5%;
}

.cabecalho ul{
    padding-left: 50px;
    padding-top: 10px;
}

.fundo{
    background-image: url("../images/fazenda.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 399px;
}

.fundo .logo{
    width: 64px;
    height: 64px;
    
}

.fundo .title{
    background-color: var(--cor-primaria);
    opacity: 0.8;
    top: 50%;
    left: 38%;
    width: 523px;
    height: 83px;
}

.fundo .title > h1{
    color: #FFFFFF;
    font-size: 48px;
    text-align: center;
    top: 50%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards .card{
    width: 387px;
    height: 390px;
    border: 1px #1B4436 solid;
    border-radius: 20px 20px 0 0;
    margin: 20px;
}

.card > span{
    background-color: #50AA5A;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
}

.card > h2{
    font-size: 20px;
}

.card > p{
    font-size: 14px;
    margin: 2px;
}

