*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-primaria: #1B4436;
}

header{
    font-family: "Quicksand", sans-serif;
}

.cabecalho{
    background-color: var(--cor-primaria);
    height: 50px;
}

.cabecalho ul li{
    display: inline;
    
}

.cabecalho ul li a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.5%;
}

.cabecalho ul{
    padding-left: 50px;
    padding-top: 10px;
}

.fundo{
    position: relative;
}

.fundo .plantacao{
    width: 100%;
}

.fundo .logo{
    position: absolute;
    left: 48%;
    top: 18%;
}

.fundo .title{
    position: absolute;
    background-color: var(--cor-primaria);
    opacity: 0.8;
    top: 50%;
    left: 38%;
    width: 523px;
    height: 83px;
}

.fundo .title > h1{
    color: #FFFFFF;
    font-size: 48px;
    text-align: center;
    top: 50%;
}

